  p,li{
    line-height: 2;
    letter-spacing: 1px;
    font-size: 16px;
  }
h1{
    margin: 0;
    padding: 20px 0;
    color: rgb(131, 129, 141);
    text-shadow: 3px 3px 1px black;
}
a {
    text-align: right;
}

body{
    width: 600px;
    margin: 0 auto;
    background-color: #f0f0ee;
    padding: 0px 20px 20px 20px ;
    border:  15px solid rosybrown;
    
}
 html{
    background-color: rgb(56, 162, 162);

 }
 img{
    display: block;
    margin: 0 auto;
 }